@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  list-style: none;
  
  font-family: 'Rubik', sans-serif;
  font-size: '18px';

  height: 100%;
  width: 100%;
}



/****MOBILE***/
@media screen and (min-width: 375px) {
  /* img{
    
  } */
}

/****DESKTOP***/
@media screen and (min-width: 440px) {
  /* img{
    width: ;
  } */
}